body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background: radial-gradient(circle at 10% 20%, rgb(0, 0, 0) 0%, rgb(64, 64, 64) 90.2%);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.block {
    height: 100vh; 
    box-sizing: border-box;
    justify-content: center;
}


.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -12px; 
}

.col-md-4 {
    flex: 0 0 calc(33.33% - 24px); 
    margin-bottom: 24px; 
}

.game_box {
    display: flex;
    gap: 12px;
    float: left;
    border: 0.5px solid rgb(216, 85, 85);
}

h2, .block {
    position: relative;
    font-size: 2em;
    letter-spacing: 7px;
    color: #185769;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    line-height: 0.9em;
    outline: none;
}
h2{
    top:40%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);
}
h3{
    position: relative;
    font-size: 2em;
    letter-spacing: 7px;
    color: #185769;
    width: 100%;
    text-align: center;
    line-height: 0.9em;
    outline: none;
}


body::-webkit-scrollbar {
    display: none;
}
.titlepage{
    bottom:15%;
}
.game_box {
    display: flex;
    flex-direction: column; 
    gap: 12px;
    border: 1px solid white;
    padding: 12px; 
}

figure {
    margin: 0; 
}

.game-info {
    text-align: center; 
}

h3, p {
    margin: 0;
}
.game_box img{
    width:80%;
    height:350px;
}
.game_box h3:first-child{
    font-size:70%;
}
.col-md-4{
    width:150px;
}

.game-info h3{
    width:100%;
    background-color:white;
    font-size:90%;
}
.col-md-4.padding_bottom{
   height:50vh;
}
.col-md-4 {
    height:150px;
}
.col-md-4{
    transition: width 1s, height 1s, transform 1s;
}
.col-md-4:hover{
    width: 250px;
    height:450px;
    transform: scaleY(1.08);
}
a{
    text-decoration:none;
    color: #185769;
    
}

#footer {
    height:5vh;
    color: black;
    font-weight:bold;
    text-align: center;
    position:relative;
    clear:both;
    top:8%;
    bottom: 0;
    width: 100%;
}