/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply box-sizing to all elements */
* {
    box-sizing: border-box;
}

/* Add a basic styling to the body */
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Light grayish background */
    padding: 0;
}

.top-banner {
    width: 100%;
    height: 5vh;
    background-color: #333; /* Dark grayish color */
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.top-banner a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.top-banner a:hover {
    background-color: #555;
}

/* Add a subtle box shadow for a modern touch */
.top-banner a:focus,
.top-banner a:active,
.top-banner a:hover {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 1rem;
    margin: 20px; /* Added some margin for spacing */
}

.game {
    height: 100%;
    background-color: #fff; /* White background */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 1px 2px #ccc;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.game img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.play-button {
    width: 100%;
    height: 30px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.play-button:hover {
    background-color: #3e8e41;
}
