body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
*{
    margin: 0%;
}


#baner{
    height: 10%;
    width: 100%;
    background-color: rgb(94, 55, 186);
    text-align: center;
    position:static;
    padding: 50px;
    font-size: 1.7em;
    overflow: none;
}
.dice-container{
    height:250px;
    width:100%;
    background-color: rgb(136, 103, 212);
    text-align: center;
    padding: 50px;
    font-size: 1.7em;
    position: static;
    overflow: none;

}
#zaklady{
    height:250px;
    width:100%;
    background-color: rgb(170, 148, 220);
    text-align: center;
    font-size: 1.7em;
    position: static;
    overflow: none;
    padding: 20px;

}

